BraveSoftware/
Trolltech.conf
baloofileinformationrc
baloofilerc
bruno/
dconf/
go/
gtkrc
gtkrc-2.0
intelephense/
kactivitymanagerdrc
kdedefaults/
kglobalshortcutsrc
ktimezonedrc
kwinoutputconfig.json
kwinrc
mimeapps.list
mozilla/
obsidian/
opencode/
plasma-localerc
pulse/
session/
trashrc
kconf_updaterc
kdeglobals
qt5ct/
QtProject.conf
btop/
nextjs-nodejs/
