BraveSoftware/**
Thunar/**
dconf/**
go/**
lazygit/**
mozilla/**
nextjs-nodejs/**
pulse/**
ranger/**
session/**
xfce4/**
systemd/**
baloofileinformationrc
dolphinrc
kwalletrc
mimeapps.list
pavucontrol.ini
mpd/mpd.log
mpd/mpdstate
