@import "colors.css";

* {
  border: none;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  border-radius: 12px;
  color: @on_surface;
  padding: 4px 10px;
}

#workspaces button,
#network,
#cpu,
#memory,
#pulseaudio,
#clock,
#language,
#custom-launcher,
#custom-power,
#battery {
  background: transparent;
  color: @on_surface;
  padding: 0 6px;
  margin: 0 3px;
  border-radius: 6px;
  transition: all 0.2s ease;
  font-weight: bolder;
}

#workspaces button.active {
  color: @primary;
  font-weight: bold;
}

#workspaces button:hover {
  color: @primary;
  box-shadow: none;
}

#window,
#custom-music {
  color: @on_surface_variant;
  font-weight: bolder;
  padding: 0 10px;
}

#custom-launcher {
  color: @tertiary;
  font-size: 16px;
  padding-right: 8px;
}

#custom-power {
  color: @error;
  padding-left: 8px;
}

#network:hover,
#cpu:hover,
#memory:hover,
#pulseaudio:hover,
#clock:hover,
#language:hover,
#custom-power:hover,
#custom-music:hover {
  color: @primary;
}

#clock {
  margin: 0 10px;
  font-size: 16px;
  font-weight: bolder;
}
