* {
  all: unset;
  font-family: "CaskaydiaMono NFM";
  font-size: 16px;
}

/* #window { */
/*   background-color: #292a37; */
/*   border-radius: 12px; */
/* } */

#outer-box {
  /*background-color: #292a37;*/
  background-color: rgb(42, 45, 67);
  border: 4px solid rgba(176, 114, 209, 1);
  border-radius: 12px;
}

#input {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 12px;
  border: 2px solid rgba(176, 114, 209, 1);
  background-color: rgb(42, 45, 67);
  color: #d9e0ee;
}


#entry {
  margin: 0.25rem 0.75rem 0.25rem 0.75rem;
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
  color: #9699b7;
  border-radius: 8px;
}

#entry:selected {
  background-color: rgba(176, 114, 209, 1);
  color: #d9e0ee;
}
