@import "colors.css";

* {
  all: unset;
  font-family: "CaskaydiaMono NFM";
  font-size: 14px;
}

#window {
  margin: 0px;
  border: 2px solid @surface_container_high;
  border-radius: 10px;
  background-color: transparent;
}

#outer-box {
  background-color: @surface_container;
  border-radius: 10px;
  padding: 10px;
}

#input {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 12px;
  background-color: @surface_container_high;
  color: @on_surface;
}

#entry image {
  margin-right: 10px;
}

#entry {
  margin: 0.25rem 0.75rem 0.25rem 0.75rem;
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
  color: @on_surface_variant;
  border-radius: 8px;
}

#entry:selected {
  background-color: @primary_container;
  color: @on_primary_container;
}
