* {
  all: unset;
  font-family: "CaskaydiaMono NFM";
  font-size: 14px;
}

#window {
  margin: 0px;
  border: 2px solid #292a37;
  border-radius: 10px;
  background-color: transparent;
}

#outer-box {
  background-color: #292a37;
  border-radius: 10px;
  /* background-color: #111014; */
  padding: 10px;
}

#input {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 12px;
  background-color: rgb(42, 45, 67);
  color: #d9e0ee;
}

#entry image {
  margin-right: 10px;
}

#entry {
  margin: 0.25rem 0.75rem 0.25rem 0.75rem;
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
  color: #9699b7;
  border-radius: 8px;
}

#entry:selected {
  background-color: rgb(42, 45, 67);
  color: #d9e0ee;
}
